html, body, #app {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex: 1;
	height: 100%;
	width: 100%;
}
.loading {
	position: fixed;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 100px;
	margin-left: -100px;
	margin-top: -50px;
	background: rgba(0, 0, 0, 0.7);
	padding: 15px;
	color: #fff;
	border-radius: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2em;
}
